html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="style.css")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		//- script(type="text/javascript", src="https://www.youtube.com/iframe_api")
		script(type="text/javascript", src="YTvideo-min.js")

	body

		#videoPlayer.abs

		#videoPlayerSmall.abs
		
		script(type="text/javascript",src="main.js")
