html,
body
	font-family: sans-serif

.btn
	cursor: pointer

.abs
	position: absolute
	display: block

.rel
	position: relative
	display: block

#video
	display: block
	position: relative
	z-index: 10
	width: 640px
	height: 360px
	background-color: #CCC
	margin: 20px auto

#buttons
	width: 100%
	text-align: center

#debug
	bottom: 10px
	right: 10px
	text-align: right
	color: #666
	font-size: 12px